@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --font-family: "Roboto", sans-serf;
  --small-font: 2rem;
  --normal-font: 5rem;
  --Large-font: 8rem;
  --bg-color: #1d1d1d;
  --primary-color: #08fdd8;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #08fdd8;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

a {
  text-decoration: none;
  font-family: var(--font-family);
}

h1 {
  font-size: var(--Large-font);
}
h2 {
  font-size: var(--normal-font);
}
h3 {
  font-size: var(--small-font);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ol,
ul {
  list-style: none;
}
h1,
h3 {
  /* font-family: var(--font-family);
  font-weight: 800; */
  /* text-align: center; */
  color: white;
}
h2 {
  color: var(--primary-color);
}
h1:hover {
  color: var(--primary-color);
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links ul li {
  font-size: var(--small-font);
  padding-right: 40px;
  position: relative;
}
.navbar-links ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  letter-spacing: 0px;
  color: white;
  -webkit-transition: letter-spacing 0.3s linear;
  -moz-transition: letter-spacing 0.3s linear;
  -ms-transition: letter-spacing 0.3s linear;
  -o-transition: letter-spacing 0.3s linear;
  transition: letter-spacing 0.3s linear;
}
.navbar-links ul li a:hover {
  letter-spacing: 5px;
  color: var(--primary-color);
}

#menuToggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

#menuToggle input {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: var(--primary-color);
  transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
  background-color: var(--primary-color);
  transform: rotate(495deg) translate(4px);
}
#menuToggle input:checked ~ #span3 {
  background-color: var(--primary-color);
  transform: rotate(45deg);
  opacity: 0;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #menuToggle {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* intro */
.icons-svg-intro {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1%;
  /* bottom: 50%; */
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 10px 5px;
  outline: none;
  border: none;
  background: #a7a7a7;
  border-radius: 50%;
  transition: 0.2;
}

.social-btn:hover {
  cursor: pointer;
  animation-name: pulse;
  background: var(--primary-color);
  animation-duration: 1s;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.21);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .social-btn {
    display: none;
  }
}

/* Hi i am rutwik */
.introduction {
  max-width: 700px;
  margin: 40px 80px;
}
.bounce {
  display: inline-block;
}
.bounce:hover {
  animation: gelatine 0.5s;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.svg-img img {
  width: 30rem;
  top: 10px;
}

/* Contact Me Button */
.button {
  margin: 5rem 1rem;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  border-radius: 0px;
  padding: 14px 28px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  letter-spacing: 5px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-in 0.4s;
}

.button a {
  color: var(--primary-color);
}
.button:hover a {
  color: var(--bg-color);
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 var(--primary-color);
}

/* Skills section */

.skills h2 {
  text-align: left;
}
.skills h3 {
  text-align: center;
}
.skills {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 5rem;
  max-width: 85rem;
  margin: auto;

  margin-top: 2.5rem;
}
.icon-card img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  display: inline-block;
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px #08fdd8c1;
  padding: 20px;
  margin: 30px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-in 0.4s;
}
.icon-card:hover {
  background-color: #08fdd8c1;
}
.icon-card:hover h3 {
  color: var(--bg-color);
}
